<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Books!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center col-md-10 mt-5">
         <h1>Register Order!</h1>
    </div>
    <form class="m-auto col-md-6" method="POST" action="/store/orders/create/">
      {% csrf_token %}
      <div class="form-group">
        <label>책 이름</label>
        <select name="book" class="form-control" placeholder="구매할 책을 선택해주세요.">
            {% for book in books %}
                <option value="{{ book.pk }}">{{ book.title }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>수량</label>
        <input name="count" type="number" class="form-control" placeholder="구매 수량을 입력해주세요.">
      </div>
      <button type="submit" class="btn btn-primary">주문하기</button>
    </form>
    <div class="container text-center col-md-10 mt-5">
         <a href="/"><button class="btn btn-warning">홈으로</button></a>
    </div>
</body>
</html>